<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    </head>
    <body>
        {% block body %}
            <p> 
                Данный раздел демонстрирует применение фильтра для таблиц в базе данных. 
                По умолчанию отображаются все. После активации, отображены только пользователи удовлетворяющие всем фильтрам.
            </p>    
            <div class="wrapper">
                <div class="left_block">
                    {% for c in city %}
                        <label>
                            <input type="checkbox" class="js-checkbox" value="{{ c.getId() }} " data-type="city"> 
                            {{ c.getCityName() }} <br>
                        </label>
                    {% endfor %}
                </div>
                <div class="right_block">
                    {% for e in education %}
                        <label>
                            <input type="checkbox" class="js-checkbox" value="{{ e.getId() }}" data-type="education"> 
                            {{ e.getEducationName() }} <br>
                        </label>
                    {% endfor %}
                </div>
            </div>
            <div id="result">
                {% for u in user %} 
                    {{ u.getUsername() }} <br>
                {% endfor %}
            </div>
        {% endblock %}
            
        {% block javascripts %}
            <script src="//yandex.st/jquery/2.1.1/jquery.min.js"></script>
            <script>
                function updateTable() {
                    var arrayCity = [];
                    var arrayEducation = [];
                    var arrayUsers = [];
                    $('input:checkbox:checked').each(function(){
                        var type = $(this).data('type');
                        if (type == 'city'){
                            arrayCity.push($(this).val());
                        } else if (type == 'education'){
                            arrayEducation.push($(this).val());
                        }
                    });
                    
                    $.ajax({                            
                        type: 'POST',
                        url: '{{ path('app_bundle_route') }}',
                        dataType: 'json',
                        data: { arrayEducation: arrayEducation },
                        success: function (data)
                        {
                            console.log(data);
                            document.getElementById('result').innerHTML = data.join('<br>');
                        }
                    });
                }
                $('.js-checkbox').on('click', function(){
                    updateTable();
                });
            </script>
        {% endblock %}
    </body>
</html>
