<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    </head>
    <body>
        {% block body %}
            <div class="wrapper">
                <div class="left_block">
                    {% for c in city %}
                        <input type="checkbox" name="{{ c.getCityName() }}" value="{{ c.getCityName() }}" checked>{{ c.getCityName() }}<Br>
                    {% endfor %}
                </div>
                <div class="right_block">
                    {% for e in education %}
                        <input type="checkbox" name="{{ e.getEducationName() }}" value="{{ e.getEducationName() }}" checked>{{ e.getEducationName() }}<Br>
                    {% endfor %}
                </div>
            </div>
            <div class="result">
                {% for u in user %}
                    {{ u.getUsername() }} <br>
                {% endfor %}
            </div>
        {% endblock %}
            
        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
